<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is the home page 1 + 2 =</h1>
    <h3><%= "NARAYANRSURYAWANSHI@GMAIL.COM".toLowerCase() %></h3>
    <h3><%= ["Hello", "Bonjour", "Namaste"][2] %></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore velit
      recusandae, est cupiditate maiores magni unde exercitationem ipsam! Quas,
      animi! Eligendi animi id quod voluptatem voluptates ducimus totam, quis
      odio deleniti quidem sequi temporibus voluptate amet placeat sit vel
      libero et repellendus nisi exercitationem consequuntur, dicta velit. Natus
      nam et maxime dolorem consequatur sunt quo hic iusto, reprehenderit minus
      minima sed corrupti asperiores accusantium assumenda sit, laudantium
      laborum. Nisi sit error illo totam? Ab quos maxime nam impedit expedita
      hic voluptates explicabo quo sequi error amet vero, magnam laboriosam
      repudiandae provident sit? Ullam totam excepturi minima doloremque qui,
      obcaecati autem.
    </p>
    <button>click me</button>
  </body>
</html>
